# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml

# Java / Maven / Gradle
target/
*.class
*.log
.gradle/
build/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties

# Env
.env
infra/.env
*.env

# Docker / infra
**/data/
**/logs/
