spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update

  security:
    user:
      name: admin
      password: d.MCmq2des

logging:
  level:
    org:
      springframework:
        security: DEBUG

server:
  port: 8080

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-minutes: ${JWT_EXP_MINUTES:240}
